Lists and Tuples are called compound data types and are one of the key types of data structures in Python

## Tuples
An ordered sequence, are written as comma separated elements within parantheses

In [105]:
Ratings = (10,9,6,5,10,8,3,2)
Ratings

(10, 9, 6, 5, 10, 8, 3, 2)

In [106]:
tup1 = ('disco',10,1.2) # tuple = ('str',int,float)
type(tup1)

tuple

In [107]:
tup1[0]

'disco'

In [108]:
tup1[1]

10

In [109]:
tup1[-1] # Negative indexing

1.2

In [110]:
tup2 = tup1 + ("hard rock ", 22) #concatenate or combine 
tup2

('disco', 10, 1.2, 'hard rock ', 22)

In [111]:
tup2[0:3] # We can also slice tuples

('disco', 10, 1.2)

In [112]:
tup2[3:5]

('hard rock ', 22)

In [113]:
len(tup2) # to find len of a tuple

5

In [114]:
len(('disco', 10, 1.2, 'hard rock ', 22))

5

Tuple are immutable , we can not manipulate them

In [115]:
RatingsSorted = sorted(Ratings)
RatingsSorted

[2, 3, 5, 6, 8, 9, 10, 10]

A tuple can contain other tuples as well as complex data types; this is called nesting

In [116]:
NT = (1,2,("pop","rock"),(3,4),("disco",(1,2)))
NT[2]

('pop', 'rock')

In [117]:
NT[4][1]

(1, 2)

In [118]:
NT[4][1][1]

2

## Lists
An ordered sequence, are written as comma separated elements within square brackets

In [119]:
L = ["Muzan",1.2,1990]
L

['Muzan', 1.2, 1990]

In [120]:
L[0]

'Muzan'

In [121]:
L[-1]

1990

In [122]:
L[1:3] # concatenate or combine

[1.2, 1990]

In [123]:
L1 = L +  ["poop" ,10]
L1

['Muzan', 1.2, 1990, 'poop', 10]

Lists are mutable

In [124]:
L.extend(["abc",1.2]) # commbine list
L

['Muzan', 1.2, 1990, 'abc', 1.2]

In [125]:
L.append(["abc",1.2]) # add only one element to the list
L

['Muzan', 1.2, 1990, 'abc', 1.2, ['abc', 1.2]]

In [126]:
L[0]="Kibutsuji"
L

['Kibutsuji', 1.2, 1990, 'abc', 1.2, ['abc', 1.2]]

In [127]:
A=["hard",10,1.2]
del(A[0])
A

[10, 1.2]

Convert String to List

In [128]:
"Hard rock".split() # by default on the basis of space

['Hard', 'rock']

In [129]:
"a,b,c,d".split(",") # on the basis of specific character, known as delimiter

['a', 'b', 'c', 'd']

List can contain str, float, int. we also nest other list and tuple.

In [130]:
#L = ['muzan',1.2,9580,[1,2],('a',1),["abc",(1,1.2),[(1,"a"),1.2]]]
L

['Kibutsuji', 1.2, 1990, 'abc', 1.2, ['abc', 1.2]]

### Alising

Alising is when two variable referring a same list

If we update one we get side effect

In [131]:
B=["Hard rock",10,1.2]
A=B
A

['Hard rock', 10, 1.2]

In [132]:
B

['Hard rock', 10, 1.2]

In [133]:
A[0]="Banana"
A

['Banana', 10, 1.2]

In [134]:
B

['Banana', 10, 1.2]

### Clone

In [135]:
B=A[:]
A

['Banana', 10, 1.2]

In [136]:
B

['Banana', 10, 1.2]

In [137]:
A[0]="hard"
A

['hard', 10, 1.2]

In [138]:
B

['Banana', 10, 1.2]

In [139]:
help(B)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, index, /)
 |      Return self[index].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [140]:
C=["a","b","c"]
C[1:]

['b', 'c']

## Sets

Sets are a type of collection

Unlike lists and tuples they are unordered

Sets only have unique elements

In [141]:
Set1={"pop","rock","hard","rock","r&b","rock","disco"}
Set1

{'disco', 'hard', 'pop', 'r&b', 'rock'}

TypeCasting of a list  into set

In [142]:
a_list=["muzan","thrill","thrill",1982]
a_set=set(a_list)
a_set

{1982, 'muzan', 'thrill'}

Set Operations

In [143]:
A={"Thrill","blsck in blsck","AC"}
A.add("nsync")
A

{'AC', 'Thrill', 'blsck in blsck', 'nsync'}

If we add a element twice nothing will happen as there can be no duplicates in a set

In [144]:
A.add("nsync")
A

{'AC', 'Thrill', 'blsck in blsck', 'nsync'}

In [145]:
A.remove("nsync")
A

{'AC', 'Thrill', 'blsck in blsck'}

In [146]:
"nsync" in A

False

In [147]:
"AC" in A

True

In [148]:
A

{'AC', 'Thrill', 'blsck in blsck'}

In [149]:
B={"AC","Thrill","B in B"}
B

{'AC', 'B in B', 'Thrill'}

In [150]:
C=A&B
C

{'AC', 'Thrill'}

In [151]:
D=A.union(B)
D

{'AC', 'B in B', 'Thrill', 'blsck in blsck'}

In [152]:
B.issubset(D)

True

## Dictionaries

Dictionaries are denoted with {}

It has key and value pairs

The key have to be immutable and unique

The values can be immutable, mutable and duplicates

Each key and values pair is separated be a comma

In [153]:
Dict = {"thriller": 1982, "Back in black": 1980, "The Dark Side of the Moon": 1973, "The Bodyguard": 1992}
Dict

{'thriller': 1982,
 'Back in black': 1980,
 'The Dark Side of the Moon': 1973,
 'The Bodyguard': 1992}

In [154]:
Dict["thriller"] # lokkup the value using key

1982

In [155]:
Dict["Graduation"]=2007 # add element in dictionary
Dict

{'thriller': 1982,
 'Back in black': 1980,
 'The Dark Side of the Moon': 1973,
 'The Bodyguard': 1992,
 'Graduation': 2007}

In [156]:
del Dict['thriller']  # delete a value
Dict

{'Back in black': 1980,
 'The Dark Side of the Moon': 1973,
 'The Bodyguard': 1992,
 'Graduation': 2007}

In [157]:
print(list(Dict.keys()))

['Back in black', 'The Dark Side of the Moon', 'The Bodyguard', 'Graduation']

In [158]:
"thriller" in Dict

False

In [159]:
Dict.keys()

dict_keys(['Back in black', 'The Dark Side of the Moon', 'The Bodyguard', 'Graduation'])

In [160]:
Dict.values()

dict_values([1980, 1973, 1992, 2007])

In [162]:
Dict1={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict1["D"]

(4, 4, 4)