In [65]:
print("Hello Python 101")

Hello Python 101

Value in paranthesis is called argument.

Syntatic error: Python does not understand code.

In [66]:
frint("hello python 101)

SyntaxError: unterminated string literal (detected at line 1) (2128657281.py, line 1)

Semantic error: When logic is wrong.

In [67]:
print("Hello Python 102")

Hello Python 102

In [68]:
print("Hello\nWorld!")

Hello
World!

In [69]:
# print("Hello World!")

### Types

We can see the actual data type in Python by usinng the type command

In [70]:
type(11)

int

In [71]:
type(21.213)

float

In [72]:
type("Hello")

str

In [73]:
type(True)

bool

### Type Casting

Change the type of the expression

In [74]:
float(2)

2.0

In [75]:
int(1.1) # information loss

1

In [76]:
int("1")

1

In [77]:
int("A")

ValueError: invalid literal for int() with base 10: 'A'

In [78]:
int(True)

1

In [79]:
bool(0)

False

## Expressions

Expressions are operation that Python performs.
For ex: arithmatic operations.

In [80]:
40+60+16+41

157

Numbers: oprands
Symbol: operators

In [81]:
50-60

-10

In [82]:
5*5

25

In [83]:
25/5

5.0

In [84]:
26//5 # For rounded result

5

## Variables

used to store values

In [85]:
my_var=10
my_var

10

We can store the results of expression

In [86]:
x=43 + 60 + 16 + 41
x

160

We can also perform operation on x

In [87]:
y=x/60
y

2.6666666666666665

In [88]:
x=x/60
x

2.6666666666666665

It's good practice to use meaningfull variable names

In [89]:
total_min=43+12+54
total_hr=total_min / 60
total_hr

1.8166666666666667

## Strings

A string is a sequence of characters contained within two quotes

In [90]:
"Kibutsuji Muzan"

'Kibutsuji Muzan'

A string can also be spaces, digits, or special characters.
An ordered sequence.
Each element in the sequence can be accessed using an index represented by the array of numbers.

We can also use  negative indexing.

In [91]:
Name = "Kibutsuji Muzan "

In [92]:
Name[2:5]

'but'

In [93]:
Name[::2]

'KbtuiMzn'

In [94]:
Name[0:8:2] # Slicing

'Kbtu'

In [95]:
len(Name) # find length

16

In [96]:
Statement = Name + "is demon king "  # concatenate or combine
Statement

'Kibutsuji Muzan is demon king '

In [97]:
2 * Name #replicate
# 3*"Muzan"

'Kibutsuji Muzan Kibutsuji Muzan '

Strings are immutable

In [99]:
Name = Name + "is demon king"
Name

'Kibutsuji Muzan is demon king'

\ are meant to proceed escape sequences. Escape sequences are strings that are difficult to input.

In [100]:
print("Muzan Kibutsuji \n is older then 1000 yrs")

Muzan Kibutsuji
 is older then 1000 yrs

In [101]:
print("Muzan Kibutsuji \t is older then 1000 yrs")

Muzan Kibutsuji 	 is older then 1000 yrs

In [102]:
print("Muzan Kibutsuji \\ is older then 1000 yrs")

Muzan Kibutsuji \ is older then 1000 yrs

In [104]:
print(r"Muzan Kibutsuji \ is older then 1000 yrs")

Muzan Kibutsuji \ is older then 1000 yrs

In [106]:
Num = "0123456"
Num[::2]

'0246'

In [107]:
"0123456".find('1')

1

## Review Questions

In [108]:
3 + 2 * 2

7

In [109]:
name = 'Lizz'
print(name[0:2])

Li

In [110]:
name[0:2]

'Li'

In [111]:
var = '01234567'
print(var[::2])

0246

In [112]:
print(var[::3])

036

In [113]:
'1' + '2'

'12'

In [114]:
myvar = 'hello'
myvar.upper()

'HELLO'

In [115]:
myvar.capitalize()

'Hello'